.task {
    background: #f4f4f4;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    box-shadow: -3px 3px 3px #a19f9f;
    transition: all ease .25s;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.task:hover {
    top: -5px;
    right: -3px;
    box-shadow: -8px 6px 3px #646363;
}